<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

	th:with="
		roleName=${#authorization.expression('isAuthenticated()') 
			? #authentication.principal.adminNm 
			: '게스트'}
	">

<head>

	<th:block
		th:replace="~{layout/fragments/head :: commonHead(${roleName})}">
	</th:block>

	<th:block layout:fragment="head-content"></th:block>

</head>

<body>
    <div class="container-fluid px-4">

		<div
			th:replace="~{layout/fragments/navbar :: layoutNavbar(${roleName})}">
		</div>
        
        <div class="project-header mb-4">
            <!-- 프로젝트 제목 -->
            <div class="d-flex justify-content-between align-items-end mb-3 border-bottom pb-2">
                <h4 class="m-0 fw-bold" th:text="${session.project != null ? session.project.prjName : '프로젝트 명'}"></h4>
            </div>

            <!-- 서브 메뉴 탭 -->
<ul class="nav nav-tabs">
                
                <!-- (기본으로 항상 있는 항목) -->
                <li class="nav-item">
                    <a class="nav-link" 
                       th:classappend="${session.currentMenu == 'dashboard' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/main}">
                        개요
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${session.currentMenu == 'member' ? 'active fw-bold' : ''}"
                       th:href="@{/project/member/list}">
                        구성원
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${session.currentMenu == 'group' ? 'active fw-bold' : ''}"
                       th:href="@{/project/group/list}">
                        그룹
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${session.currentMenu == 'role' ? 'active fw-bold' : ''}"
                       th:href="@{/project/role/list}">
                        권한
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                       th:classappend="${session.currentMenu == 'history' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/history/list}">
                        작업내역
                    </a>
                </li>

                <!-- DB에서 가져온 활성화 모듈을 반복하면서 메뉴 그리기 -->
                  <li class="nav-item" th:each="mod1 : ${session.moduleList}">

                    <!-- ENA_NAME_CD가 'NOTICE'면 공지사항 탭 생성 -->
                    <a th:if="${mod1.enaNameCd == '01MODULE'}" 
                       class="nav-link" 
                       th:classappend="${session.currentMenu == 'notice' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/notice/list}">공지사항</a>

                    <a th:if="${mod1.enaNameCd == '06MODULE'}" 
                       class="nav-link" 
                       th:classappend="${currentMenu == 'wiki' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/wiki}">위키</a>

                    <a th:if="${mod1.enaNameCd == '04MODULE'}" 
                       class="nav-link" 
                       th:classappend="${currentMenu == 'issue' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/issue/list}">이슈</a>

                    <a th:if="${mod1.enaNameCd == '05MODULE'}" 
                       class="nav-link" 
                       th:classappend="${currentMenu == 'milestone' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/milestone}">마일스톤</a>
                    
                    <a th:if="${mod1.enaNameCd == '08MODULE'}" 
                       class="nav-link" 
                       th:classappend="${currentMenu == 'board' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/boards/list}">게시판</a>
                       
                    <a th:if="${mod1.enaNameCd == '02MODULE'}" 
                       class="nav-link" 
                       th:classappend="${currentMenu == 'gantt' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/gantt/list}">간트차트</a>
                
                    <a th:if="${mod1.enaNameCd == '07MODULE'}" 
                       class="nav-link" 
                       th:classappend="${session.currentMenu == 'docs' ? 'active fw-bold' : ''}" 
                       th:href="@{/project/docs/list}">문서</a> 
                </li> 
               
            </ul> 
        </div>
        <!-- 실제 본문(이슈, 위키 등)이 들어갈 영역 -->
        <div layout:fragment="content">
        </div>
	<div th:replace="~{layout/fragments/footer :: yedam}"></div>
  </div>
</body>
</html>