<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<th:block th:replace="~{layout/fragments/head :: commonHead('sysadmin')}"></th:block>
<th:block layout:fragment="head-content"></th:block>

</head>

<body>
	<div class="container-fluid px-4">
		<div
			th:replace="~{layout/fragments/navbar :: layoutNavbar('시스템관리자레이아웃', ~{layout/fragments/navbar-menu :: adminMenu})}">
		</div>
		<div class="card mt-3">
			<div class="card-body">
				<div layout:fragment="content"></div>
			</div>
		</div>
		<div th:replace="~{layout/fragments/footer :: yedam}"></div>
	</div>

</body>

</html>