<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/projectLayout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>권한 상세</title>
    <th:block layout:fragment="head-content">
      <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}" />
      <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}" />
      <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
      <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
      <link rel="stylesheet" th:href="@{/css/common/containerSize.css}" />
      <link rel="stylesheet" th:href="@{/css/project/issue.css}" />
      <link rel="stylesheet" th:href="@{/css/project/projectAdmin.css}" />
      <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
      <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
      <script th:src="@{/js/common/gridTheme.js}"></script>
    </th:block>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="issue-shell">
        <div id="wrapper">
                <div class="issue-page-head">
            <a class="issue-page-back" th:href="@{/project/role/list}">← 권한 목록</a>
            <h1 class="issue-page-head__title" th:text="${registerMode} ? '권한 등록' : '권한 상세'">권한 상세</h1>
          </div>

      <th:block th:replace="~{project/role/fragments/roleDetailContent :: roleDetailContent}" />

      <th:block th:if="${registerMode or currentRole != null}">
        <th:block th:replace="~{project/role/modal/questionModal :: roleQuestionModal}"></th:block>
        <th:block th:replace="~{project/role/modal/questionModal :: roleQuestionModalScript}"></th:block>
      </th:block>

      <th:block th:if="${registerMode or currentRole != null}">
        <div th:replace="~{project/role/modal/roleGroupModal :: roleGroupPickOverlay}"></div>
      </th:block>

      <script
        th:if="${registerMode or currentRole != null}"
        th:inline="javascript"
      >
        /*<![CDATA[*/
        window.roleManagementInfoPageConfig = {
          registerMode: /*[[${registerMode}]]*/ false,
          prjId: /*[[${session.currentProjectId}]]*/ 0,
          roleCd: /*[[${roleCd}]]*/ null
        };
        /*]]>*/
      </script>
      <script
        th:if="${registerMode or currentRole != null}"
        th:src="@{/js/role/roleManagementInfo.js(v=6)}"
      ></script>
        </div>
      </div>
    </div>
  </body>
</html>
