<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<head>
<title>Spring Security Example</title>
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<link rel="stylesheet" th:href="@{/css/common/containerSize.css}">
</head>

<body>

<div layout:fragment="content">
<div id="wrapper">
	<div th:if="${param.error}" class="alert alert-danger">
		회원정보가 일치하지 않습니다.
	</div>

	<div th:if="${param.logout}" class="alert alert-success">
		로그아웃 했습니다.
	</div>

	<form th:action="@{/login}"
		  method="post"
		  id="loginForm"
		  novalidate>

		<!-- 기업번호 -->
		<div class="mb-3">

			<label class="form-label">
				기업번호
			</label>

			<input type="text"
			       name="bizNo"
			       id="bizNo"
			       class="form-control"
			       maxlength="12"
			       inputmode="numeric">

			<div class="invalid-feedback">
				기업번호를 입력해주세요.
			</div>

		</div>

		<!-- 아이디 -->
		<div class="mb-3">

			<label class="form-label">
				User Name
			</label>

			<input type="text"
				   name="username"
				   id="username"
				   class="form-control">

			<div class="invalid-feedback">
				아이디를 입력해주세요.
			</div>

		</div>

		<!-- 비밀번호 -->
		<div class="mb-3">

			<label class="form-label">
				Password
			</label>

			<input type="password"
				   name="password"
				   id="password"
				   class="form-control">

			<div class="invalid-feedback">
				비밀번호를 입력해주세요.
			</div>

		</div>
		<div class="mb-3">
		admin 기업번호 : 124-87-03358
		<br>
		그 외 기업번호 : 124-81-56789
		<br>
		시스템 관리자 : admin
		<br>
		기업 관리자 : cadmin
		<br>
		일반 유저 : user1, user2 ...
		<br>
		비밀번호는 아이디와 동일
		</div>
		<div>
			<button type="submit" class="btn btn-primary">
				로그인
			</button>
		</div>

	</form>

	<div class="mt-3">
		<a th:href="@{/}">홈으로 돌아가기</a>

		<a href="#"
		   data-bs-toggle="modal"
		   data-bs-target="#resetPwModal">
			비밀번호 재설정
		</a>
	</div>

	<div th:replace="~{login/modal/resetPw :: resetPwModal}"></div>



<script th:src="@{/js/login/login.js}"></script>
<script th:src="@{/js/login/resetPw.js}"></script>
</div>
</div>
</body>
</html>