<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/projectLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
<div layout:fragment="content">
	<div id="issuetable">
	<table>	
		<thead>
			<tr>
				<th></th>			
				<th>진행중인 이슈</th>
				<th>완료된 이슈</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>버그</th>
				<td><a th:text="${count.bGoCount}" th:href="@{/project/issue/list(categoryCd='01ISSUECATE', priorityCd='', statusCd='', memId='', subject='')}"></a></td>
				<td><a th:text="${count.bEndCount}" th:href="@{/project/issue/list(categoryCd='01ISSUECATE', priorityCd='', statusCd='04ISSUESTAT', memId='', subject='')}"></a></td>
			</tr>
			<tr>
				<th>기능</th>
				<td><a  th:text="${count.fGoCount}" th:href="@{/project/issue/list(categoryCd='02ISSUECATE', priorityCd='', statusCd='', memId='', subject='')}"></a></td>
				<td><a th:text="${count.fEndCount}" th:href="@{/project/issue/list(categoryCd='02ISSUECATE', priorityCd='', statusCd='04ISSUESTAT', memId='', subject='')}"></a></td>
			</tr>
			<tr>
				<th>작업</th>
				<td><a th:text="${count.wGoCount}" th:href="@{/project/issue/list(categoryCd='03ISSUECATE', priorityCd='', statusCd='', memId='', subject='')}"></a></td>
				<td><a th:text="${count.wEndCount}" th:href="@{/project/issue/list(categoryCd='03ISSUECATE', priorityCd='', statusCd='04ISSUESTAT', memId='', subject='')}"></a></td>
			</tr>
			<tr>
				<th>개선</th>
				<td><a th:text="${count.iGoCount}" th:href="@{/project/issue/list(categoryCd='04ISSUECATE', priorityCd='', statusCd='', memId='', subject='')}"></a></td>
				<td><a th:text="${count.iEndCount}" th:href="@{/project/issue/list(categoryCd='04ISSUECATE', priorityCd='', statusCd='04ISSUESTAT', memId='', subject='')}"></a></td>
			</tr>
		</tbody>
	</table>
		<a th:href="@{/project/issue/list}">모든 이슈 보기</a>
		<a th:href="@{/project/issue/pivot}">이슈 통계 보기</a>
	</div>
	<table>
		<thead>
			<tr>
				<th>No</th>			
				<th>공지사항</th>
				<th>날짜</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each=" nt, stat : ${notice}" th:if="${stat.index < 3}">
				<th th:text="${stat.count}"></th>
				<td ><a th:text="${nt.title}" th:href="@{/project/notice/list}"></a></td>
				<td th:text="${#dates.format(nt.createdOn,'yyyy-MM-dd')}"></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th>그룹명</th>			
				<th>인원</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each=" g : ${selectgroup}">
				<th><a th:text="${g.grpName}" th:href="@{/project/group/info(grpId=${g.grpId})}"></a></th>
				<td th:text="${g.count}"></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>