<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/projectLayout}">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${registerMode} ? '그룹 등록' : '그룹 상세'">그룹 상세</title>
    <th:block layout:fragment="head-content">
      <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}" />
      <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}" />
      <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
      <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
      <link rel="stylesheet" th:href="@{/css/common/containerSize.css}" />
      <link rel="stylesheet" th:href="@{/css/project/issue.css}" />
      <link rel="stylesheet" th:href="@{/css/project/projectAdmin.css}" />
      <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
      <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
      <script th:src="@{/js/common/gridTheme.js}"></script>
    </th:block>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="issue-shell">
        <div id="wrapper">
                <div class="issue-page-head">
            <a class="issue-page-back" th:href="@{/project/group/list}">← 그룹 목록</a>
            <h1 class="issue-page-head__title" th:text="${registerMode} ? '그룹 등록' : '그룹 상세'">그룹 상세</h1>
          </div>

      <th:block th:replace="~{project/group/fragments/groupDetailContent :: groupDetailContent}" />

      <th:block th:if="${!groupNotFound}">
        <th:block th:replace="~{project/group/modal/questionModal :: groupQuestionModal}"></th:block>
        <th:block th:replace="~{project/group/modal/questionModal :: groupQuestionModalScript}"></th:block>
      </th:block>

      <th:block th:if="${registerMode or !groupNotFound}">
        <div th:replace="~{project/group/modal/groupMemberModal :: groupMemberPickOverlay}"></div>
        <div th:replace="~{project/group/modal/groupRoleModal :: groupRoleMenusOverlay}"></div>
        <div th:replace="~{project/group/modal/groupRoleModal :: groupRolePickOverlay}"></div>
      </th:block>

      <script th:if="${registerMode or !groupNotFound}" th:inline="javascript">
        /*<![CDATA[*/
        window.groupManagementInfoPageConfig = {
          prjId: /*[[${session.currentProjectId}]]*/ 0,
          registerMode: /*[[${registerMode}]]*/ false,
          grpId: /*[[${grpId}]]*/ null,
          serverMembers: /*[[${members}]]*/ [],
          serverRoles: /*[[${roles}]]*/ []
        };
        /*]]>*/
      </script>
      <script th:if="${registerMode or !groupNotFound}" th:src="@{/js/group/groupManagementInfo.js}"></script>
        </div>
      </div>
    </div>
  </body>
</html>
