<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.login.mapper.EmailVerifyMapper">

	
	<update id="sendVerifyCode" 
			statementType="CALLABLE">
		<!-- 프로시저 실행 -->
		{
            CALL PROC_EMAIL_VERIFY_INSERT(

                #{bizNo, mode=IN, jdbcType=VARCHAR},
                #{login, mode=IN, jdbcType=VARCHAR},
                #{email, mode=IN, jdbcType=VARCHAR},

                #{result, mode=OUT, jdbcType=VARCHAR},
                #{verifyNum, mode=OUT, jdbcType=VARCHAR}

            )
        }	
	</update>

	<update id="verifyCode"
	        statementType="CALLABLE">
		<!-- 프로시저 실행 -->
	    {
	        CALL PROC_EMAIL_VERIFY_CHECK(
	
	            #{email, mode=IN, jdbcType=VARCHAR},
	            #{verifyNum, mode=IN, jdbcType=VARCHAR},
	
	            #{result, mode=OUT, jdbcType=VARCHAR}
	
	        )
	    }
	</update>
</mapper>
