<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.login.mapper.LoginMapper">

	<select id="selectOne">
		SELECT ID
			  ,BIZ_NO
	  		  ,LOGIN
			  ,PASSWORD
			  ,NAME
			  ,TEL
			  ,EMAIL
			  ,HIRE_DATE
			  ,GENDER_CD
			  ,get_sub_code_name(GENDER_CD)"GENDER_NM"
			  ,ADMIN_CD
			  ,get_sub_code_name(ADMIN_CD) as "ADMIN_NM"
			  ,STATUS_CD
			  ,get_sub_code_name(STATUS_CD) "STATUS_NM"
			  ,CREATED_ON
			  ,PW_UPDATED_ON
			  ,PRJ_MANAGER_CD
			  ,get_sub_code_name(PRJ_MANAGER_CD) "PRJ_MANAGER_NM"
			  ,MCP_CD
			  ,get_sub_code_name(MCP_CD) "MCP_NM"
	  	FROM   users
	 	WHERE  biz_no = #{bizNo}
     	AND    login = #{login}
	</select>

	<update id="updatePassword">
		UPDATE users
		SET password = #{password},
			pw_updated_on = SYSDATE,
			mcp_cd = '02ACTIVE'
		WHERE biz_no = #{bizNo}
		AND login = #{login}
	</update>
	

	<select id="searchActiveCompanies">
	    SELECT BIZ_NO
	          ,COMPANY_NAME
	    FROM   COMPANY
	    WHERE  IS_ACTIVE_CD = '01ACTIVE'
	    AND    COMPANY_NAME LIKE '%' || #{keyword} || '%'
	    ORDER BY COMPANY_NAME ASC
	</select>
	
	<update id="updateMcpCd">
	    UPDATE users
	    SET mcp_cd = #{mcpCd}
	    WHERE id = #{id}
	</update>
	
	<update id="updateLastLogOn">
		UPDATE users
		SET    last_log_on = SYSDATE
		WHERE  id = #{id}
	</update>
	
	<select id="selectCompanyStatus" resultType="string">
	    SELECT IS_ACTIVE_CD
	    FROM COMPANY
	    WHERE BIZ_NO = #{bizNo}
	</select>
</mapper>
