<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.project.calender.mapper.HolidayMapper">
 
 <!-- 공휴일 불러오기  -->
 <select id="getHolidays" resultType="HolidayVO" parameterType="int">
 	 select id,
 	        year,
 	        month,
 	        day,
 	        holiday_name as holidayName
 	  from holiday
 	  where year = #{year}
 	  order by month, day      
 </select>
 
 </mapper>