<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.project.main.mapper.MainMapper">
 
 <select id="issueCount" resultType="com.example.demo.project.main.service.IssueCountVO">
 	SELECT
    SUM(CASE
            WHEN STATUS_CD = '01ISSUESTAT'
             AND PRIORITY_CD != '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS bGoCount,

    SUM(CASE
            WHEN STATUS_CD = '01ISSUESTAT'
             AND PRIORITY_CD = '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS bEndCount,

    SUM(CASE
            WHEN STATUS_CD = '02ISSUESTAT'
             AND PRIORITY_CD != '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS fGoCount,

    SUM(CASE
            WHEN STATUS_CD = '02ISSUESTAT'
             AND PRIORITY_CD = '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS fEndCount,

    SUM(CASE
            WHEN STATUS_CD = '03ISSUESTAT'
             AND PRIORITY_CD != '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS wGoCount,

    SUM(CASE
            WHEN STATUS_CD = '03ISSUESTAT'
             AND PRIORITY_CD = '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS wEndCount,

    SUM(CASE
            WHEN STATUS_CD = '04ISSUESTAT'
             AND PRIORITY_CD != '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS iGoCount,

    SUM(CASE
            WHEN STATUS_CD = '04ISSUESTAT'
             AND PRIORITY_CD = '04ISSUEPRI'
            THEN 1 ELSE 0
        END) AS iEndCount

	FROM issue
	WHERE prj_id = #{prjId}
 </select>
 
  

 
 </mapper>