<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.project.milestone.mapper.MilestoneMapper">

	<resultMap type="MilestoneIssueVO" id="MilestoneIssueResultMap">
		<id     column="id"           property="id"/>
		<result column="milestone_id" property="milestoneId"/>
		<result column="issue_id"     property="issueId"/>
		<result column="name"         property="name"/>
		<collection property="events"
					ofType="MilestoneTimelineVO"
					resultMap="MilestoneTimelineResultMap"/>
	</resultMap>
	<resultMap type="MilestoneTimelineVO" id="MilestoneTimelineResultMap">
		<id column="timeline_id" property="id" />
		<result column="contents" property="contents" />
		<result column="entry_date" property="entryDate" />
		<result column="type_cd" property="typeCd" />
	</resultMap>
	<select id="selectMilestoneList" resultType="MilestoneVO">
		select id,
		       prj_id prjId,
		       name,
		       start_date startDate,
		       end_date endDate
		  from milestone
		 where prj_id = #{id}
	</select>

	<select id="selectMilestoneById" resultType="MilestoneVO">
		select id, prj_id prjId, name, start_date startDate, end_date endDate
		  from milestone
		 where id = #{id}
	</select>

	<select id="selectMilestoneIssueList" resultMap="MilestoneIssueResultMap">
		select i.id id,
		i.milestone_id,
		GET_ISSID_TO_NAME(i.issue_id) name,
		i.issue_id issue_id,
		t.id timeline_id,
		t.contents contents,
		t.entry_date entry_date,
		t.type_cd type_cd
		from milestone_issue i
		left join milestone_timeline t
		on t.milestone_issue_id = i.id
		join milestone m
		on m.id=i.milestone_id
		where i.milestone_id=#{id}
	</select>
	<select id="selectMilestoneIssueByIssueId" resultType="MilestoneIssueVO">
		SELECT id,
		       milestone_id milestoneId,
		       issue_id issueId
		  FROM milestone_issue
		 WHERE issue_id = #{issueId}
		   AND ROWNUM = 1
	</select>

	<select id="countTimelineByMilestoneIssueId" resultType="long">
		SELECT COUNT(*)
		  FROM milestone_timeline
		 WHERE milestone_issue_id = #{milestoneIssueId}
	</select>

	<select id="selectMilestoneNotInIssue">
		select id,subject from issue
		where id not in(
			select issue_id from milestone_issue
		)
		and prj_id = #{id}
		order by id
	</select>
	<insert id="insertMilestone">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT ML_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into milestone (id, prj_id, name, start_date, end_date)
		values (${id}, #{prjId}, #{name}, #{startDate, jdbcType=DATE}, #{endDate, jdbcType=DATE})
	</insert>
	
	<insert id="insertMilestoneIssue">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT ML_ISS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into milestone_issue (id, milestone_id,issue_id)
		values (${id}, #{milestoneId}, #{issueId})
	</insert>
	<insert id="insertTimeline">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT ML_TL_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into milestone_timeline (id, milestone_issue_id, contents, entry_date, type_cd)
		values (${id}, #{milestoneIssueId}, #{contents}, #{entryDate}, #{typeCd})
	</insert>
	<update id="updateMilestone">
		update milestone
		set name=#{name}, start_date=#{startDate, jdbcType=DATE}, end_date=#{endDate, jdbcType=DATE}
		where id=#{id}
	</update>
	<delete id="deleteMilestone">
		delete from milestone
		where id=#{id}
	</delete>
	<delete id="deleteMilestoneIssue">
		delete from milestone_issue
		where id=#{id}
	</delete>
	<select id="getAvg" resultType="long">
		select avg(done_ratio) from issue where id in(
			select issue_id from milestone_issue 
			where milestone_id=${id}
		)
	</select>
	<update id="moveIssue">
		update milestone_issue
		set milestone_id = #{milestoneId}
		where id = #{id}
	</update>
	<delete id="deleteTimeline">
		delete from milestone_timeline
		where id = #{id}
	</delete>
	<update id="updateTimeline">
		update milestone_timeline
		set contents = #{contents},
		entry_date = #{entryDate},
		type_cd = #{typeCd}
		where id = #{id}
	</update>

</mapper>
