<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.project.notice.mapper.project.NoticeMapper">

<select id="selectAll" resultType="com.example.demo.project.notice.service.NoticeVO">
 
 select *
 FROM notice
 where prj_id = #{prjId}
 ORDER BY id DESC

</select>

<insert id="insert">
insert into notice(
		id, 
		prj_id, 
		mem_id, 
		title, 
		description
		)
values(
		news_seq.nextval, 
		#{prjId}, 
		#{memId}, 
		#{title}, 
		#{description}

)
</insert>

<select id="selectOne" resultType="com.example.demo.project.notice.service.NoticeVO">
 
 select *
 from notice
 where id = #{id}

</select>

<update id="update">
update notice
set 
    prj_id = #{prjId}, 
    mem_id = #{memId}, 
    title = #{title}, 
    description = #{description}
where id = #{id}
</update>

<delete id="delete">
delete from notice
where id = #{id}
</delete>

</mapper>