<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>
	<div th:fragment="resetPwModal">
		<div class="modal fade" id="resetPwModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">비밀번호 재설정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal">
						</button>
					</div>
					<div class="modal-body">

						<!-- 기업번호 -->
						<div class="mb-3">
							<label class="form-label">기업번호</label> <input type="text"
								id="bizNo" class="form-control"> <small id="bizNoError"
								class="text-danger d-none"></small>
						</div>

						<!-- 아이디 -->
						<div class="mb-3">
							<label class="form-label">아이디</label> <input type="text"
								id="login" class="form-control"> <small id="loginError"
								class="text-danger d-none"></small>
						</div>

						<!-- 이메일 -->
						<div class="mb-3">
							<label class="form-label">이메일</label>
							<div class="d-flex gap-2">
								<input type="email" id="email" class="form-control">
								<button type="button" id="sendCodeBtn" class="btn btn-primary">
									인증요청</button>
							</div>

							<small id="emailError" class="text-danger d-none"></small>

						</div>

						<!-- 공통 메시지 -->
						<div id="messageArea" class="alert d-none mb-3" role="alert">
						</div>

						<!-- 인증번호 -->
						<div id="verifyArea" class="mb-3 d-none">

							<label class="form-label">인증번호</label>

							<div class="d-flex gap-2">

								<input type="text" id="verifyNum" class="form-control">

								<button type="button" id="verifyBtn" class="btn btn-success">
									인증</button>

							</div>

							<small id="verifyError" class="text-danger d-none"></small>

						</div>

						<!-- 비밀번호 -->
						<div id="passwordArea" class="d-none">

							<div class="mb-3">

								<label class="form-label">새 비밀번호</label> <input type="password"
									id="newPassword" autocomplete="new-password"
									class="form-control">

							</div>

							<div class="mb-3">

								<label class="form-label">비밀번호 확인</label> <input type="password"
									id="newPasswordCheck" autocomplete="new-password"
									class="form-control"> <small id="passwordError"
									class="text-danger d-none"></small>

							</div>

						</div>

						<small id="resultMsg" class="text-success d-none"></small>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>

						<button type="button" id="confirmBtn"
							class="btn btn-primary d-none">확인</button>

					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>