<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/projectLayout}"
>
  <head>
    <meta charset="UTF-8" />
    <title th:text="${editMode} ? '구성원 수정' : '구성원 상세'">구성원 상세</title>
    <th:block layout:fragment="head-content">
      <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}" />
      <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}" />
      <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
      <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
      <link rel="stylesheet" th:href="@{/css/common/containerSize.css}" />
      <link rel="stylesheet" th:href="@{/css/project/issue.css}" />
      <link rel="stylesheet" th:href="@{/css/project/projectAdmin.css}" />
      <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
      <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
      <script th:src="@{/js/common/gridTheme.js}"></script>
    </th:block>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="issue-shell">
        <div id="wrapper">
                <div class="issue-page-head">
            <a class="issue-page-back" th:href="@{/project/member/list}">← 구성원 목록</a>
            <h1 class="issue-page-head__title" th:text="${editMode} ? '구성원 수정' : '구성원 상세'">구성원 상세</h1>
          </div>

      <th:block th:if="${memberNotFound}">
        <p class="perm-empty">요청한 구성원을 이 프로젝트에서 찾을 수 없습니다.</p>
      </th:block>

      <th:block th:if="${viewMode}">
        <th:block th:replace="~{project/member/fragments/memberDetailContent :: memberDetailContent}" />
        <script th:src="@{/js/member/memberIssueGrid.js}"></script>
      </th:block>

      <th:block th:if="${editMode}">
        <th:block th:replace="~{project/member/fragments/memberEditContent :: memberEditContent}" />

        <th:block th:replace="~{project/member/modal/memberGroupModal :: memberGroupPickOverlay}" />
        <th:block th:replace="~{project/member/modal/questionModal :: memberQuestionModal}"></th:block>
        <th:block th:replace="~{project/member/modal/questionModal :: memberQuestionModalScript}"></th:block>

        <div
          id="memPageConfig"
          style="display: none"
          th:attr="data-prj-id=${prjId},data-user-id=${userId},data-old-grp-id=${grpId},data-initial-grp-id=${detail != null ? detail.grpId : ''},data-panel-mode=false"
        ></div>

        <script th:src="@{/js/member/memberManagementInfo.js(v=2)}"></script>
      </th:block>
        </div>
      </div>
    </div>
  </body>
</html>
