<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <base th:href="@{/}" />
    <title th:text="${editMode} ? '구성원 수정' : '구성원 상세'">구성원 상세</title>
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}" />
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/cerulean/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/common/theme-colors.css}" />
    <link rel="stylesheet" th:href="@{/css/common/tabler-bridge.css}" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" th:href="@{/css/common/containerSize.css}" />
    <link rel="stylesheet" th:href="@{/css/project/issue.css}" />
    <link rel="stylesheet" th:href="@{/css/project/projectAdmin.css}" />
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script th:src="@{/js/common/gridTheme.js}"></script>
  </head>
  <body class="layout-tabler role-panel-embed">
    <div class="issue-shell role-panel-embed__shell">
      <div id="memberPanelRoot" class="role-panel-embed__inner">
        <th:block th:if="${viewMode}">
          <th:block th:replace="~{project/member/fragments/memberDetailContent :: memberDetailContent}" />
        </th:block>
        <th:block th:if="${editMode}">
          <th:block th:replace="~{project/member/fragments/memberEditContent :: memberEditContent}" />
        </th:block>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <th:block th:if="${editMode and !memberNotFound}">
      <th:block th:replace="~{project/member/modal/memberGroupModal :: memberGroupPickOverlay}" />
      <th:block th:replace="~{project/member/modal/questionModal :: memberQuestionModal}" />
      <th:block th:replace="~{project/member/modal/questionModal :: memberQuestionModalScript}" />
      <div
        id="memPageConfig"
        style="display: none"
        th:attr="data-prj-id=${prjId},data-user-id=${userId},data-old-grp-id=${grpId},data-initial-grp-id=${detail != null ? detail.grpId : ''},data-panel-mode=true"
      ></div>
      <script th:src="@{/js/member/memberManagementInfo.js(v=2)}"></script>
    </th:block>

    <script
      th:if="${viewMode and !memberNotFound}"
      th:src="@{/js/member/memberIssueGrid.js}"
    ></script>
  </body>
</html>
